* {
    box-sizing: border-box;
  }
  h1{
    text-align: center;
    border: solid black 1px;
    display: block;
    padding-top:10px;
    font-family: 'Roboto', sans-serif;
  }
  header{
    background: white;
    
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  body{
    background: #aaa;;
    /*width: 100%;*/ 
  }
  
  .nav-flex{
    display: flex;
    flex-direction: column;
  }
  
  .nav-bar{
    list-style-type: none;
    margin: auto;
    background: white;
    margin-bottom: 15px;
    padding-left: 0px;
  }
  
  .nav-bar-elements{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav-flex{
    display: flex;
    justify-content: center;
    
  }
  .bio-div{
    background: #aaa;
    /*width: 100%;*/
    height: 300px;
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .hero-image{
    
    height: 280px;
    width: 359px;
    background: white;
    margin: auto;
  }
  
  .project1{
    
    height: 300px;
    width: 270px;
    background:white;
    margin: auto;
    margin-bottom: 10px;
  }
  .project1-des{
    margin-left: 9px;
    margin-top:5px;
    height: 150px;
    width: 270px;
    
  }
  p {
     margin-left: 5px;
     margin-right: 5px;
     /*border: solid black 1px;*/
     font-family: 'Raleway', sans-serif;
     line-height: 24px;
    }
  .project2{
    height: 300px;
    width: 270px;
    background:#aaa;
    margin: auto;
    margin-bottom: 10px;
  }
  .project2-des{
    margin-top:5px;
    height: 150px;
    width: 270px;
  }
  
  .project3{
    height: 300px;
    width: 270px;
    margin: auto;
    background: black;
    margin-bottom: 10px;
  }
  .project3-des{
    margin-top:5px;
    height: 150px;
    width: 270px;
  }
  
  
  .projects-div{
    background: #ccc;
    height: 1350px;
    padding-top: 5px;
  }
  
  .github-div{
    background:#bbb;
    height: 200px;
  }
  
  .contact-div{
    background: #eee;
    height: 500px;
  }

  .form-div{
    padding-top: 30px;
    margin: auto;
    display: block;
    text-align:center;
  }
  .submit-button{
    margin-top: 10px;
    border: solid 1px black;
  }

  .contact-div{
    height: 240px;
  }

  
  footer{
    height: 40px; 
  }
  
  @media only screen and (min-width:700px){

    .hero-image{
    
    height: 380px;
    width: 690px;
    background: white;
    margin: auto;
  }


    .nav-bar-elements{
    font-size: 120%;
    color: black;
    padding-left: 60px;
    padding-right:60px;
  }
  
    .projects-div{
      display: flex;
      flex-direction: column;
    }
    .projects-desc-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top:0px;
    }
  
    .bio-div{
      height: 400px;
    }
    .projects-flex{
      margin-top: 5px;
      display: flex;
      justify-content: center;
    }
  
    .projects-div{
      height: 1100px;
    }
  
    .github-div{
      height: 500px;
    }
    .contact-div{
      height: 500px;
    }
    .project1{
      height: 250px;
      width: 490px;
      background: #bbb;
      margin-top: 5px;
      
    }
    .project1-des{
        margin-top:5px;
        height: 20px;
        width: 30px;
       
      }

    
    .project2{
      height: 250px;
      width: 490px;
      background: #eee;
      margin-top: 5px;
      
    }
    .project2-des{
        margin-top:5px;
        height: 20px;
        width: 30px;
      }
    .project3{
      height: 250px;
      width: 490px;
      background:#fff;
      margin-top: 5px;
      
    }
    .project3-des{
        margin-top:5px;
        height: 20px;
        width: 30px;
      }

    .contact-div{
      height: 240px;
    }
  
  }